<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="resources/css/style_calendario.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b220ced109.js" crossorigin="anonymous"></script>
  
  </head>
  <body>
    <div class="container">
        
        <div class="selector_categoria" id="selector_categoria">
          
          <div class="salir">
            <a href="index.html"><i class="fa-solid fa-circle-xmark"></i></a>
          </div> 
          
          <div id="selector_peluqueria" class="peluqueria selector" onclick="mostrar_calendar(), seleccion_peluqueria();">
            <p>Peluquería</p>
          </div>

          <div id="selector_estetica" class="estetica selector" onclick="mostrar_calendar(), seleccion_estetica();">
            <p>Estética</p>
          </div>

          <div id="selector_manicura" class="manicura selector" onclick="mostrar_calendar(), seleccion_manicura();">
            <p>Manicura</p>
          </div>

          <div id="selector_masaje" class="masaje selector" onclick="mostrar_calendar(), seleccion_masaje();">
            <p>Masaje</p>
          </div>
      
        </div>


        <div class="calendar" id="calendar">
          
          <div class="volver" id="volver_1">
            <a href="#"><i class="fa-solid fa-circle-left"></i></a>
          </div>

          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
              <h1></h1>
              <p></p>
            </div>
              <i class="fas fa-angle-right next"></i>
          </div>
            <div class="weekdays">
            <div>L</div>
            <div>M</div>
            <div>X</div>
            <div>J</div>
            <div>V</div>
            <div>S</div>
            <div>D</div>
          </div>
          <div class="days" onclick="mostrar_calendar_hours();">
            <!--un div para cada dia pintado en la hoja del calendario-->
          </div>
        </div>
    
        <div class="calendar_hours" id="calendar_hours">
          
          <div class="volver" id="volver_2">     
            <a href="#"><i class="fa-solid fa-circle-left"></i></a>
          </div> 
          <div class="seleccionar_cita" >
            <h2>Seleccione hora para su cita</h2>
          </div>
                 
          <div class="hours">              
            <div class="hours"><a href="" name="10:00" value="10:00">10:00</a></div>
            <div class="hours"><a href="" name="11:00" value="11:00">11:00</a></div>
            <div class="hours"><a href="" name="12:00" value="12:00">12:00</a></div>
            <div class="hours"><a href="" name="13:00" value="13:00">13:00</a></div>
            <div class="hours"><a href="" name="17:00" value="17:00">17:00</a></div>
            <div class="hours"><a href="" name="18:00" value="18:00">18:00</a></div>
            <div class="hours"><a href="" name="19:00" value="19:00">19:00</a></div>
            <div class="hours"><a href="" name="20:00" value="20:00">20:00</a></div>
          </div>
          <div class="botones">
            <a href="" class="boton">Enviar</a>
            <a href="" class="boton">Anular</a>
          </div>
          <p>Si tiene alguna duda pongase en contacto con la peluquería.</p>
        
        </div>
       

    <script src="resources/js/calendario.js"></script>
    
    <script src="resources/js/jq_calendario.js">
    
    </script>
  </body>
</html>
