<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariloli Style</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Open+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Latin:wght@300&family=Lato:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b220ced109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/bootstrapcss.css"> 
   
    <link href="resources/css/style.css" rel="StyleSheet"> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>

<body>
    <!--Comienzo header-->
    <header>

        <nav id="nav">
            <div class="row">
                
                <a href="login.html"><button  class="btn-citas">Citas</button></a>
                <div class="boton-citas"></div>
                
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12" id="underlineEffects"> 
                        <div id="nav_tratamientos">                     
                        <a href="" id="tratamientos:hover">Tratamientos</a>
                            <div id="tratamientos" style="visibility: hidden;">
                                <a href="#peluqueria">Peluquería</a>
                                <a href="#estetica">Estética</a>
                                <a href="#manicura">Manicura</a>
                                <a href="#masajes">Masajes</a>
                            </div>
                        </div>                                  
                        <a href="#servicios">Servicios</a>
                        <a href="#footer">Contacto</a>
                    </div>
                
            </div>

        </nav>

        <Section class="textos-header">
            <h1> Mariloli Style</h1>
            <h2> Peluquería y Estética</h2>
        </Section>
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>

    </header>
    <!--Fin header-->

    <!--Comienzo Parte central-->
    <main>

        <section class="main" id="main">
            <h2 class="titulo">Servicios</h2>
           <div id="servicios" class="row" style="display: block">
                
                <div class="cards">
                    <!--cards -->
                    <div class="card col-12 col-xl-4 col-md-6 col-sm-12">
                        <div class="card-imagen-principal">
                            <div class="card-imagen" id="img_peluqueria_card">
                                <img src="../../assets/images/card peluqueria.jpg" class="card-img-top"
                                    alt="modelo luciendo cabello en tonos rojizos">
                              <!-- <a href="#"> --> 
                                    <div class="hover-card">
                                        <img src="../../assets/icons/001-ojo.png" alt="icono ojo ver mas">
                                        <p>Servicios y tratamientos</p>
                                    </div>
                                </a> 
                            </div>
                        </div>
                        <h2 class="titulo_card">Peluquería</h2>
                        <p class="texto_card">Conozca todos nuestros servicios en peluquería. Siempre a la
                            última en estilos y
                            tendencias. Expertos en color, atrevase con las coloraciones mas
                            arriesgadas.
                            Trabajamos
                            con productos de primeras marcas para ofrecele los mejores resultados.
                        </p>
                    </div>

                    <div class="card  col-12 col-xl-4 col-md-6 col-sm-12">
                        <div class="card-imagen-principal">
                            <div class="card-imagen" id="img_estetica_card">
                                <img src="../../assets/images/card esteticien tratamiento facial.jpg" class="card-img-top"
                                    alt="esteticien aplicando tratamiento sobre el rostro de una clienta">
                                <a href="#"> 
                                    <div class="hover-card">
                                        <img src="../../assets/icons/001-ojo.png" alt="icono ojo ver mas">
                                        <p>Servicios y tratamientos</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h2 class="titulo_card">Estética</h2>
                        <p class="texto_card">Ofrecemos una amplia gama de tratamientos tanto faciales como
                            corporales. Personal altamente cualificado. Disponemos de las últimas
                            novedades
                            en
                            tecnología para sus tratamientos. Especialistas en cuidado facial.
                        </p>
                    </div>

                    <div class="card  col-12 col-xl-4 col-md-6 col-sm-12">
                        <div class="card-imagen-principal">
                            <div class="card-imagen" id="img_manicura_card">
                                <img src="../../assets/images/card uñas esculpidas gel porcelana.jpg" class="card-img-top"
                                    alt="esteticien trabajando uñas a una clienta">
                                <a href="#">    
                                    <div class="hover-card">
                                        <img src="../../assets/icons/001-ojo.png" alt="icono ojo ver mas">
                                        <p>Servicios y tratamientos</p>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <h2 class="titulo_card">Manicura</h2>
                        <p class="texto_card">Nuestra sección de manicura le sorprenderá, toda una artista a sus
                            disposición para lucir en sus manos tanto los diseños más tradicionales,
                            como
                            los mas
                            novedosos. Siempre a la útima. Pregunte por nuestros esmaltes especiales, se
                            sorprenderá.
                        </p>
                    </div>

                    <div class="card  col-12 col-xl-4 col-md-6 col-sm-12">
                        <div class="card-imagen-principal">
                            <div class="card-imagen" id="img_masaje_card">
                                <img src="../../assets/images/card masajes.jpg" class="card-img-top"
                                    alt="masajista haciendo masaje de espalda">
                                <a href="#">
                                    <div class="hover-card">
                                        <img src="../../assets/icons/001-ojo.png" alt="icono ojo ver mas">
                                        <p>Servicios y tratamientos</p>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <h2 class="titulo_card">Masajes</h2>
                        <p class="texto_card">Dese un capricho, disfrute de nuestras espectaculares sesiones
                            de
                            masaje relajante acompañados por shiatsu como conclusión. Una experiencia
                            única,
                            seguro
                            que repite. También disponemos de masaje
                            descontracturante y deportivo.
                        </p>                        
                    </div>

                </div>                
                <!-- fin cards -->
            </div>
        </section>
        <section class="main_2" id="main_2" style="display: none">
            <div class="container">    
                <h2>COLOR</h2>
                
                    <p>Color Completo ....................................desde 28 €</p> 

                    <p>Mechas ............................................desde 35 €</p>
                    
                    <p>Californianas......................................desde 50 €</p>
                    
                    <p>Balayage...........................................desde 65 €</p>
                    
                    <p>Elumen Coloración..................................desde 45 €</p>
                    
                    <p>Tinte de Raíz......................................desde 23 €</p>
                    
                    <p>Decoloración.......................................desde 60 €</p>
                    
                    <p>Moldeador..........................................desde 48 €</p>
                    <br>
                    <hr>
                    <br>    
                <h2>CUIDADO CAPILAR</h2>

                    <p>Hidratación........................................desde 28 €</p> 

                    <p>Regenerante........................................desde 35 €</p>

                    <p>Botox Capilar......................................desde 20 €</p>

                    <p>Brillo.............................................desde 65 €</p>

                    <p>Tratamiento de Barros..............................desde 24 €</p>

                    <p>Dermabrasion (exfoliante)..........................desde 49 €</p>

                    <p>Plex Forte (medicina capilar)......................desde 49 €</p>
                    <br>
                    <hr>
                    <br>
                <h2>PEINADO - CORTE</h2>

                    <p>Peinar Mujer.......................................desde 16 €</p>
                    
                    <p>Peinado Especial.........................................20 €</p>
                    
                    <p>Cortar Mujer.............................................20 €</p>
                    <br>
                    <hr>
                    <br>
                <h2>KERATINA</h2>

                    <p>Keratina Anti-Frizz................................desde 85 €</p>

                    <p>Alisado de Keratina...............................desde 175 €</p>

                    <p>Tratamiento de Keratina........................desde 257,50 €</p>
                    <br>
                    <hr>
                    <br>
                <h2>RECOGIDO</h2>

                    <p>Semi-Recogido......................................desde 35 €</p> 

                    <p>Recogido...........................................desde 70 €</p>

                    <p>Prueba de Novia....................................desde 85 €</p>

                    <p>Pack Novia ................................(consultar precio)</p>
                    <br>
                    <hr>
                    <br>
                <h2>EXTENSIONES</h2>

                    <p>Extensiones (pelo natural) ....................desde 170,75 €</p>
                    <br>
                    <hr>
                    <br>
                <h2>HOMBRE</h2>

                    <p>Corte Hombre..............................................15 €</p>

                    <p>Arreglo de Barba ..........................................8 €</p>
                    <br>
                    <hr>
                    <br>
                <h2>NIÑOS</h2>

                    <p>Corte Niñ@............................................... 11 €</p>
                    
                    <p>Peinado Niñ@..............................................11 €</p>
                    <br>                                          
                
            </div>
            <button class="volver_servicios" id="volver_servicios_2"> VOLVER A SERVICIOS </button>                
        </section>

        <section class="main_3" id="main_3" style="display: none">
            <div class="container">
                <h2>COLOR</h2>
                    <p>SERVICIOS DE ESTETICA A CONCRETAR ..................desde 28 €</p> 

                    <p>SERVICIOS DE ESTETICA A CONCRETAR ..................desde 35 €</p>
                    <br>   
            </div>
            <button class="volver_servicios" id="volver_servicios_3"> VOLVER A SERVICIOS </button>               
        </section>
        
        <section class="main_4" id="main_4" style="display: none">
            <div class="container">
                <h2>COLOR</h2>
                    <p>SERVICIOS DE MANICURA A CONCRETAR ..................desde 28 €</p> 

                    <p>SERVICIOS DE MANICURA A CONCRETAR ..................desde 35 €</p>
                    <br>   
            </div>
            <button class="volver_servicios" id="volver_servicios_4"> VOLVER A SERVICIOS </button>                 
        </section> 
        
        <section class="main_5" id="main_5" style="display: none">
            <div class="container">
                <h2>COLOR</h2>
                    <p>SERVICIOS DE MASAJES A CONCRETAR ..................desde 28 €</p> 

                    <p>SERVICIOS DE MASAJES A CONCRETAR ..................desde 35 €</p>
                    <br>   
            </div>       
            <button class="volver_servicios" id="volver_servicios_5"> VOLVER A SERVICIOS </button>                        
        </section> 

        
    </main>
    <!--Final de Parte central-->

    <!--Comienzo footer-->
    <footer>
        <div id="footer" class="footer">
            <div class="row">
               
                <div class="col-12 col-xl-4 col-md-12 col-sm-12">
                    <div class="contacto" id="underlineEffectsFoot">
                        <h3 style="margin-bottom: 10px;">Contacto</h3>
                        <div class="nombre">Mariloli Style</div>
                        <div class="direccion">Avenida de Andalucía, nº31, Local 1, CP.:29500, Málaga.</div>
                        <div class="tlf"><a href="tel:666 66 66 66"><i class="fa-solid fa-phone"></i> 666 66 66 66</a></div>
                        <a id="email" class="email" href="mailto:Mariloli_style@gmail.com"><i class="fa-solid fa-envelope"></i>
                            Mariloli_style@gmail.com </a>
                    </div>
                    
                </div>
                <div class="col-12 col-xl-4 col-md-12 col-sm-12">
                    <div class="legal" id="underlineEffectsFoot">
                        <h3 style="margin-bottom: 10px;">Legalidad</h3>
                        <a id="aviso_legal" href="#"><i class="fa-solid fa-scale-balanced"></i> Aviso Legal</a><br>
                        <a id="privacidad" href="#"><i class="fa-solid fa-handshake"></i> Política de privacidad</a><br>
                        <a id="cookies" href="#"><i class="fa-solid fa-cookie-bite"></i> Cookies </a>
                    </div>
                    
                </div>
                <div class="col-12 col-xl-4 col-md-12 col-sm-12">
                    <div class="redes">

                        <a id="google-maps" href="https://goo.gl/maps/Rn9CTvkBQhLMBsxn9" target="_blank"><img class="redes-icon"></a>
                        <a id="instagram" href="https://www.instagram.com" target="_blank"><img class="redes-icon"></a>
                        <a id="facebook" href="https://es-es.facebook.com" target="_blank"><img class="redes-icon"></a>
                        <a id="whatsapp" href="https://api.whatsapp.com/send/?phone=34675613131&text=Hola,%20queremos%20agradecerle%20que%20contacte%20con%20nosotros.%20¿En%20que%20podemos%20ayudarle?." target="_blank"><img class="redes-icon"></a>
                        <div class="footer-return-inicio"> <!-- boton inicio redondo-->
                            <a id="footer-return-inicio" href="#nav"><img class="flecha-inicio"></a>
                        </div>

            </div>
        </div>
        

    </footer>

</body>
<script>

    /* mostrar y ocultar acordeon nav*/ 
    function mostrar_acordeon(){
        var acordeon = document.getElementById("tratamientos");
        acordeon.style.visibility = "visible";
    }

    function ocultar_acordeon(){
        var acordeon = document.getElementById("tratamientos");
        acordeon.style.visibility = "hidden";
    }

    var acordeon = document.getElementById("nav_tratamientos");

    acordeon.onmouseout = ocultar_acordeon;
    acordeon.onmouseover = mostrar_acordeon;


    /* mostrar y ocultar cards y tratamientos pagina principal*/
    function mostrar_tratamientos_peluqueria(){
        var peluqueria = document.getElementById("main_2");
        peluqueria.style.display = "block";
        
        var all_servicios = document.getElementById("servicios");
        all_servicios.style.display = "none";
    }
    
    var peluqueria_precios = document.getElementById("img_peluqueria_card");
    peluqueria_precios.onclick = mostrar_tratamientos_peluqueria;



    function mostrar_tratamientos_estetica(){
        var peluqueria = document.getElementById("main_3");
        peluqueria.style.display = "block";
        
        var all_servicios = document.getElementById("servicios");
        all_servicios.style.display = "none";
    }
    
    var estetica_precios = document.getElementById("img_estetica_card");
    estetica_precios.onclick = mostrar_tratamientos_estetica;



    function mostrar_tratamientos_manicura(){
        var peluqueria = document.getElementById("main_3");
        peluqueria.style.display = "block";
        
        var all_servicios = document.getElementById("servicios");
        all_servicios.style.display = "none";
    }
    
    var manicura_precios = document.getElementById("img_manicura_card");
    manicura_precios.onclick = mostrar_tratamientos_manicura;



    function mostrar_tratamientos_masaje(){
        var peluqueria = document.getElementById("main_3");
        peluqueria.style.display = "block";
        
        var all_servicios = document.getElementById("servicios");
        all_servicios.style.display = "none";
    }
    
    var masaje_precios = document.getElementById("img_masaje_card");
    masaje_precios.onclick = mostrar_tratamientos_masaje;



    function volver_a_servicios(){
        var all_servicios = document.getElementById("servicios");
        all_servicios.style.display = "block";

        var peluqueria = document.getElementById("main_2");
        peluqueria.style.display = "none";

       var estetica = document.getElementById("main_3");
        estetica.style.display = "none";

        var manicura = document.getElementById("main_4");
        manicura.style.display = "none";
        
        var masajes = document.getElementById("main_5");
        masajes.style.display = "none";
    }

    document.getElementById("volver_servicios_2").onclick = volver_a_servicios;
    document.getElementById("volver_servicios_3").onclick = volver_a_servicios;
    document.getElementById("volver_servicios_4").onclick = volver_a_servicios;
    document.getElementById("volver_servicios_5").onclick = volver_a_servicios;
    
   
       
       
</script>


</html>