<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Open+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Latin:wght@300&family=Lato:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b220ced109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/bootstrapcss.css"> 
   
    <link href="resources/css/style.css" rel="StyleSheet"> <!-- /resources/css/style.css -->
</head>
<body>
    <div class="contenedor_form">
        <div class="form">
            <form id="form_login" class="form_login">
                <div class="sombreado1"></div>   
                <div class="cabecera_login">                  
                    <Section class="textos-cabecera">
                        <h1> Mariloli Style</h1>
                        <h2> Peluquería y Estética</h2>
                    </Section>
                    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                            style="height: 100%; width: 100%;">
                            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                                style="stroke: none; fill: #fff;"></path>
                        </svg></div>
                </div>
                <p class="iniciar_sesion">Iniciar Sesión</p>
                
                <label for="user" class="label">User/email</label>
                
                <input type="text" id="user_login" name="user" required placeholder="Usuario o email" class="input_login normal">
                <span id="mensaje_error_user_login">Este campo no puede estar vacio</span>
                <span id="mensaje_error_user_login_2">El usuario no existe</span>
                <br>
                <label for="pass" class="label">Contraseña</label>
               
                <input type="password" id="pass_login" name="pass" required placeholder="Contraseña" class="input_login normal">
                <span id="mensaje_error_pass_login">Este campo no puede estar vacio</span>
                <span id="mensaje_error_pass_login_2">La contraseña no es correcta</span>
            </form>
            <br>
            
            <button class="boton_login"><h2 id="enviar_login">Iniciar</h2></button>
            <h3 id="recibido"></h3>
            <p class="p_login">¿Aun no está registrado?<a href="registro.html" style="text-decoration: noneS;"> Registrese</a></p>
        </div>
            <div class="lateral">
                <div class="sombreado2"></div> 
                <div class="salir">
                    <a href="index.html"><i class="fa-solid fa-circle-xmark"></i></a>
                </div>
                <div class="megafono"></div> 
                <div class="texto_lateral">
                    <h3>¡Disfrute nuestras ventajas!</h3>
                    <p>Solo por estar registrado podrá disfrutar de ofertas especiales, nuestro programa de puntos y muchas mas vetajas que ya irá descubriendo.</p>
                </div>           

            </div>
        
    </div>

  <!--  <p class="p_login">para que funcione usuario = asd y contraseña = 123</p> -->

<!--    <script src="resources/js/login.js"></script> -->
    <script>
        function logarse(){
            campo_user_login=document.getElementById("user_login");
            valor_user_login=campo_user_login.value;
            if(valor_user_login == ""){           
                document.getElementById("mensaje_error_user_login").style.display="block";
                verificado_user_login=false;
            }
            else{            
                document.getElementById("mensaje_error_user_login").style.display="none";
                verificado_user_login=true;

                if(valor_user_login == ""){           
                    document.getElementById("mensaje_error_user_login_2").style.display="block";
                    verificado_user_login=false; /*hacer consulta a base de datos para ver si el usuario existe*/
                }
                else{            
                    document.getElementById("mensaje_error_user_login_2").style.display="none";
                    verificado_user_login=true;
                }   
            }        

                 
            //password//
            campo_pass_login=document.getElementById("pass_login");
            valor_pass_login=campo_pass_login.value;        
            if(valor_pass_login == ""){           
                document.getElementById("mensaje_error_pass_login").style.display="block";
                verificado_pass_login=false;
            }
            else{            
                document.getElementById("mensaje_error_pass_login").style.display="none";
                verificado_pass_login=true;
                
                if(valor_pass_login == ""){           
                    document.getElementById("mensaje_error_pass_login_2").style.display="block";
                    verificado_pass_login=false; /*hacer consulta a base de datos para ver si el usuario existe*/
                }
                else{            
                    document.getElementById("mensaje_error_pass_login_2").style.display="none";
                    verificado_pass_login=true;
                }
            
            }

            //verificar//

            if(verificado_user_login && verificado_pass_login){
                document.getElementById("form_login").submit();        
            }
    }
    document.getElementById("enviar_login").addEventListener("click",logarse);
    document.getElementById("user_login").focus();
    

   
    </script>
</body>
</html>