<nav>
    <div class="row" style="margin-left: auto;">
       
        <div class="col-12 col-xl-12 col-md-12 col-sm-12">
            <!-- version pc-->
            <div class="d-block  d-xl-block d-md-block d-sm-none">
                <div class="container" style="margin-top:10px;">
                    <button href="#" class="btn-citas">Citas</button>
                    <!-- <div class="boton-citas"></div> -->
                </div>

                <!-- version movil-->
                <div class="d-block  d-xl-none d-md-none d-sm-block">
                    <div class="container" style=" margin:10px auto;"></div>

                    <button href="#" class="btn-citas">Citas</button>
                    <!-- <div class="boton-citas"></div> -->
                </div>
            </div>
            
        </div>


        <div class="col-12 col-xl-12 col-md-12 col-sm-12">
            <div class="container" style="margin-top:50px;"></div>


            <div class="container">

                <!-- version pc-->
                <div class="d-none  d-xl-block d-md-block d-sm-none">
                    <a rfe="#">Contacto</a>
                    <a rfe="#">Servicios</a>
                    <a rfe="#">Acerca de</a>
                </div>

                <!-- version movil -->
                <div class="d-block  d-xl-none d-md-none d-sm-block">

                    <ul class="nav-movil">
                        <li><a rfe="#">Contacto</a></li>
                        <li><a rfe="#">Servicios</a></li>
                        <li><a rfe="#">Acerca de</a></li>
                    </ul>

                </div>


            </div>

        </div> 


</nav>