<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form id="form_registro">
        <label for="user">user/email</label>
        <input type="text" id="user" name="user" required placeholder="Usuario o email">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" required placeholder="Contraseña">
        <label for="pass2">Confirme contraseña</label>
        <input type="password" name="pass2" id="pass2" required placeholder="Confirme contraseña">
    </form>
    <br>
    <p>para que funcione usuario = asd y contraseña = 123</p>
    <h2 id="registro">Registrarse</h2>
    <h3 id="recibido"></h3>
    <script src="resources/js/registro.js"></script>
</body>
</html>