<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Open+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Latin:wght@300&family=Lato:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b220ced109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/bootstrapcss.css"> 
   
    <link href="./resources/css/style.css" rel="StyleSheet"> <!-- /resources/css/style.css -->
</head>
<body>
    <div class="contenedor_registro">
        <div class="registro">
            <form id="form_registro" class="form_registro">
                <div class="sombreado1"></div>   
                <div class="cabecera_registro">                  
                    <Section class="textos-cabecera-registro">
                        <h1> Regístrese</h1>
                        <h2> Solo le tomará unos minustos</h2>
                    </Section>
                    <div class="contenedor_imagen_registro">
                        <img src="../../assets/images/ilustracion_mujeres_rulos.jpg " class="imagen_lateral" alt="Ilustración mujeres con rulos en secador"> 
                    </div>
                    
                </div>
                
                
                <label for="user" class="label">User/email</label>
                
                <input type="text" id="user" name="user" required placeholder="Usuario o email" class="input_registro">
                <br>
                <label for="pass" class="label">Contraseña</label>
               
                <input type="password" name="pass" id="pass" required placeholder="Contraseña" class="input_registro">
                <br>
                <label for="pass" class="label">Repita su Contraseña</label>
               
                <input type="password" name="pass" id="pass" required placeholder="Contraseña" class="input_registro">
            </form>
            <br>
            
            <button class="boton_registro"><h2 id="enviar">Enviar</h2></button>
            <h3 id="recibido"></h3>
           
        </div>
            <div class="lateral">
                <div class="sombreado2"></div> 
                <div class="salir">
                    <a href="index.html"><i class="fa-solid fa-circle-xmark"></i></a>
                </div>
                <p>Desde</p>
                <Section class="texto_corporativo">
                    <h1> Mariloli Style</h1>
                    <h2> Peluquería y Estética</h2>
                </Section>
                <div class="texto_lateral">
                    <!--<h3>¡Disfrute nuestras ventajas!</h3>-->
                    <p>Queremos agradecerle su confianza y le damos la bienvenida a la que desde hoy es su casa. 
                        Disfrute de un trato cercano y los mejores tratamientos.</p>
                    <div class="megafono"></div>
                </div> 
              <!--  <div class="contenedor_imagen_lateral">
                    <img src="../../assets/images/ilustracion_mujeres_rulos.jpg " class="imagen_lateral" alt="Ilustración mujeres con rulos en secador"> 
                </div> -->

            <!--    <div class="contenedor_imagen_lateral">
                    <img src="../../assets/images/ilustracion_salon_belleza.jpg " class="imagen_lateral" alt="Ilustración mujeres con rulos en secador"> 
                </div>  -->


            </div>
        
    </div>

  <!--  <p class="p_registro">para que funcione usuario = asd y contraseña = 123</p> -->

    <script src="resources/js/registro.js"></script>
</body>
</html>