<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Open+Sans:wght@300;400;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Latin:wght@300&family=Lato:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b220ced109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/bootstrapcss.css"> 
   
    <link href="resources/css/style.css" rel="StyleSheet"> <!-- /resources/css/style.css -->
</head>
<body>
    <div class="contenedor_registro">
        <div class="registro">
            <form id="form_registro" class="form_registro">
                <div class="sombreado1"></div>   
                <div class="cabecera_registro">                  
                    <Section class="textos-cabecera-registro">
                        <h1> Regístrese</h1>
                        <h2> Solo le tomará unos minutos</h2>
                    </Section>
                    <div class="contenedor_imagen_registro">
                        <img src="../../assets/images/ilustracion_mujeres_rulos.jpg " class="imagen_lateral" alt="Ilustración mujeres con rulos en secador"> 
                    </div>
                    
                </div>
                
                <div class="textos-registro">
                    <label for="user" class="label">User</label>
                
                    <input type="text" id="user" name="user" required placeholder="Nombre" class="input_registro normal">
                    <span id="mensaje_error_user">Este campo no puede estar vacio</span>
                
                    <label for="email" class="label">Email</label>
                
                    <input type="text" id="email" name="email" required placeholder="Email" class="input_registro normal">
                    <span id="mensaje_error_email">Este campo no puede estar vacio</span>
                    <span id="mensaje_error_email_2">Debe introducir un formato email válido</span>
                    <br>
                    <label for="pass" class="label">Contraseña</label>
               
                    <input type="password" name="pass" id="pass" required placeholder="Contraseña" class="input_registro normal">
                    <span id="mensaje_error_pass">Este campo no puede estar vacio</span>
                    <br>
                    <label for="pass" class="label">Repita su Contraseña</label>
                    
                    <input type="password" name="pass_2" id="pass_2" required placeholder="Contraseña" class="input_registro normal">
                    <span id="mensaje_error_pass_2">Este campo no puede estar vacio</span>
                    <span id="mensaje_error_pass_3">No coincide con su contraseña aportada</span>
                </div>    
            </form>
            <br>
            
            <button class="boton_registro"><h2 id="enviar">Enviar</h2></button>
            <h3 id="recibido"></h3>
           
        </div>
                <div class="lateral_registro">
                   
                    <div class="sombreado2"></div> 
                    <div class="salir_registro">
                        <a href="index.html"><i class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                
                   <Section id="texto_corporativo1" class="texto_corporativo1">
                        <p>Desde</p>
                        <h1> Mariloli Style</h1>
                        <h2> Peluquería y Estética</h2>
                    </Section>
                     <Section id="texto_corporativo2" class="texto_corporativo2">                    
                        <h1> ¡Ya está con nosotros!</h1>
                    </Section>

                    <div id="texto_lateral_registro1" class="texto_lateral_registro1">            
                        <p>Queremos agradecerle su confianza y darle la bienvenida a la que desde hoy es su casa. 
                        Disfrute de un trato cercano y los mejores tratamientos.</p>
                    </div>  
                   <div id="texto_lateral_registro2" class="texto_lateral_registro2">            
                        <p>Se ha llevado a cabo su registro con exito. 
                            En breve recibirá un correo electrónico para confirmar su cuenta. 
                        </p>
                        <br>
                        <p>Solo le queda escoger su cita cómodamente y venir a conocernos. 
                        </p>           
                    </div>
                   <div id="gracias" class="gracias"></div>   
                    <div id="bienvenido" class="bienvenido"></div>             
                </div>
            </div>   
            
    </div>

  <!--  <p class="p_registro">para que funcione usuario = asd y contraseña = 123</p> -->

   <!-- <script src="resources/js/registro.js"></script> -->
    <script>

        function enviar(){
            campo_user=document.getElementById("user");
            valor_user=campo_user.value;
            if(valor_user == ""){           
                document.getElementById("mensaje_error_user").style.display="block";
                verificado_user=false;
            }
            else{            
                document.getElementById("mensaje_error_user").style.display="none";
                verificado_user=true;
            }   


            //email//
            campo_email=document.getElementById("email");
            valor_email=campo_email.value;
            if(valor_email == ""){           
                document.getElementById("mensaje_error_email").style.display="block";
                verificado_email=false;
            }
            else{            
                document.getElementById("mensaje_error_email").style.display="none";
                verificado_email=true;
       
                if(valor_email.indexOf("@") == -1){           
                    document.getElementById("mensaje_error_email_2").style.display="block";
                    verificado_email=false;
                }
                else{            
                    document.getElementById("mensaje_error_email_2").style.display="none";
                    verificado_email=true;
                }
            }

        
            //password//
            campo_pass=document.getElementById("pass");
            valor_pass=campo_pass.value;        
            if(valor_pass == ""){           
                document.getElementById("mensaje_error_pass").style.display="block";
                verificado_pass=false;
            }
            else{            
                document.getElementById("mensaje_error_pass").style.display="none";
                verificado_pass=true;
            }


            //repetir password//
            campo_pass_2=document.getElementById("pass_2");
            valor_pass_2=campo_pass_2.value;
            if(valor_pass_2 == ""){           
                document.getElementById("mensaje_error_pass_2").style.display="block";
                verificado_pass_2=false;
            }
            else{            
                document.getElementById("mensaje_error_pass_2").style.display="none";
                verificado_pass_2=true;
        
                if(valor_pass != valor_pass_2){           
                    document.getElementById("mensaje_error_pass_3").style.display="block";
                    verificado_pass_2=false;
                }
                else{            
                    document.getElementById("mensaje_error_pass_3").style.display="none";
                    verificado_pass_2=true;
                }
            }


            //verificar//

            if(verificado_user && verificado_email && verificado_pass && verificado_pass_2){
                document.getElementById("texto_corporativo1").style.display="none";
                document.getElementById("texto_corporativo2").style.display="block";
                document.getElementById("texto_lateral_registro1").style.display="none";
                document.getElementById("texto_lateral_registro2").style.display="block";
                document.getElementById("gracias").style.display="none";
                document.getElementById("bienvenido").style.display="block";
             /*   document.getElementById("form_registro").submit(); */
        
            }
    }
    document.getElementById("enviar").addEventListener("click",enviar);
    document.getElementById("user").focus();
    

    </script>
</body>
</html>